.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.square {
  min-width: 100px;
  height: 100px;
  border: solid;
}

#sqr1, #sqr3, #sqr5, #sqr7, #sqr9, #sqr11, #sqr13, #sqr15, #sqr17, #sqr19, #sqr21, #sqr23, #sqr25 {
  background-color: #f4deca;
}